/* ======= Responsive Start =======*/
/* ========== Desktop ========== */
/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
  .download-app-info {
    width: 100%;
  }

  .custom-download-app-store-icon {
    padding-top: 2px !important;
  }
}

/* ========== Tablets ========== */
/* 'lg' applies to medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
}

/* ========== landscape Phone ========== */
/* 'md' applies to small device (landscape phones, loess then 768px) */
@media (max-width: 768px) {
  /* Banner Search Location START */
  .search-responsive {
    width: 80%;
    margin: auto;
    padding: 20px;
  }

  .rent-responsives {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .rent-responsive,
  .rent-field {
    width: 100% !important;
  }

  .rent-field {
    padding-bottom: 10px;
  }

  .rent-wrapper {
    border-right: none !important;
  }

  .rent-wrapper:nth-child(2) {
    border-left: none !important;
  }

  .rent-wrapper:first-child {
    box-shadow: 0px 5px 0px -2px rgb(31 27 45 / 12%) !important;
    border-radius: 10px 0px 0px 0px !important;
  }

  .rent-wrapper:nth-child(2) i {
    margin-left: 0px !important;
  }

  .search-location .filter-range {
    max-width: 100% !important;
  }

  .rent-responsive button {
    width: 100% !important;
  }
  /* Banner Search Location END */

  /* Account-Whishlist Page */
  .ac-change-picture {
    height: 100px;
  }
}

/* ========== Mobile responsive start ==========*/
/* sm applies to x-small devices (portrait phones, less than 576px)  */
@media (max-width: 576px) {
  .top-agent-review-area {
    margin-left: 0px;
    width: 100%;
  }
}
