/* ======= Responsive Start =======*/
/* ========== Desktop ========== */
/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
  .download-app-info {
    width: 100%;
  }

  .custom-download-app-store-icon {
    padding-top: 2px !important;
  }
}

/* ========== Tablets ========== */
/* 'lg' applies to medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .search-location-v2 {
    flex-direction: column;
    gap: 10px;
  }

  .search-location-v2 .rent-wrapper-v2 {
    width: 100%;
    padding: 0;
    border-left: transparent;
  }

  .search-location-v2 .rent-wrapper-v2:first-child {
    padding-right: 17px !important;
  }

  /* Mobile Navbar Start */
  .navbar-nav {
    margin-top: 1rem;
  }

  .header-area .navbar-nav .nav-item:first-child {
    display: none;
  }

  .navbar-nav .menu-language {
    /* justify-content: start !important; */
  }

  .navbar-light .nav-item {
    border-color: #efecf3;
  }

  .navbar-nav > .nav-item {
    margin-bottom: 0.375rem;
    padding: 0.125rem 1rem rem;
    border: 1px solid var(--bs-gray-300);
    border-radius: 0.5rem;
    z-index: 2;
    padding: 0 1rem 0 1rem !important;
  }

  .navbar-nav > .nav-item > a {
    padding: 11px;
  }

  .navbar-nav > .nav-item > .dropdown-toggle {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .navbar-nav > .nav-item .dropdown-toggle {
    justify-content: space-between !important;
  }

  .navbar-nav .dropdown-menu {
    border: none;
    border-left: 2px solid var(--bs-gray-300);
    margin-bottom: 1rem;
    padding: 0;
  }

  .navbar-nav .dropdown-menu .nav-item {
    border: none;
  }

  .navbar-nav .dropdown-menu > li a {
    font-weight: 600 !important;
    color: var(--bs-gray-600) !important;
    padding: 6px 15px 6px 15px;
  }

  .navbar-rightside {
    display: flex;
    justify-content: space-between;
  }
  /* Mobile Navbar End */
}

/* ========== landscape Phone ========== */
/* 'md' applies to small device (landscape phones, loess then 768px) */
@media (max-width: 768px) {
  /* Banner Search Location START */
  .search-responsive {
    width: 80%;
    margin: auto;
    padding: 20px;
  }

  .rent-responsives {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .rent-responsive,
  .rent-field {
    width: 100% !important;
  }

  .rent-field {
    padding-bottom: 10px;
  }

  .rent-wrapper {
    border-right: none !important;
  }

  .rent-wrapper:nth-child(2) {
    border-left: none !important;
  }

  .rent-wrapper:first-child {
    box-shadow: 0px 5px 0px -2px rgb(31 27 45 / 12%) !important;
    border-radius: 10px 0px 0px 0px !important;
  }

  .rent-wrapper:nth-child(2) i {
    margin-left: 0px !important;
  }

  .search-location .filter-range {
    max-width: 100% !important;
  }

  .rent-responsive button {
    width: 100% !important;
  }
  /* Banner Search Location END */

  /* Account-Whishlist Page */
  .ac-change-picture {
    height: 100px;
  }
}

/* ========== Mobile responsive start ==========*/
/* sm applies to x-small devices (portrait phones, less than 576px)  */
@media (max-width: 576px) {
  .top-agent-review-area {
    margin-left: 0px;
    width: 100%;
  }
}
