@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?9d7a1l");
  src: url("./fonts/icomoon.eot?9d7a1l#iefix") format("embedded-opentype"),
    url("./fonts/icomoon.ttf?9d7a1l") format("truetype"),
    url("./fonts/icomoon.woff?9d7a1l") format("woff"),
    url("./fonts/icomoon.svg?9d7a1l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accounting:before {
  content: "\e900";
}
.icon-airbnb:before {
  content: "\e901";
}
.icon-alarm:before {
  content: "\e902";
}
.icon-align-left:before {
  content: "\e903";
}
.icon-align-right:before {
  content: "\e904";
}
.icon-ancor:before {
  content: "\e905";
}
.icon-apartment:before {
  content: "\e906";
}
.icon-archive:before {
  content: "\e907";
}
.icon-arrow-back:before {
  content: "\e908";
}
.icon-arrow-back-up:before {
  content: "\e909";
}
.icon-arrow-forward:before {
  content: "\e90a";
}
.icon-arrow-forward-up:before {
  content: "\e90b";
}
.icon-arrows-sort:before {
  content: "\e90c";
}
.icon-award:before {
  content: "\e90d";
}
.icon-bath:before {
  content: "\e90e";
}
.icon-bed:before {
  content: "\e90f";
}
.icon-behance:before {
  content: "\e910";
}
.icon-bell-default:before {
  content: "\e911";
}
.icon-bell-off:before {
  content: "\e912";
}
.icon-bell-on:before {
  content: "\e913";
}
.icon-billboard-house:before {
  content: "\e914";
}
.icon-bookmark-default:before {
  content: "\e915";
}
.icon-bookmark-filled:before {
  content: "\e916";
}
.icon-bottombar:before {
  content: "\e917";
}
.icon-briefcase:before {
  content: "\e918";
}
.icon-building:before {
  content: "\e919";
}
.icon-burger:before {
  content: "\e91a";
}
.icon-cafe:before {
  content: "\e91b";
}
.icon-calculator-1:before {
  content: "\e91c";
}
.icon-calculator-2:before {
  content: "\e91d";
}
.icon-camera-plus:before {
  content: "\e91e";
}
.icon-car:before {
  content: "\e91f";
}
.icon-cart:before {
  content: "\e920";
}
.icon-cash:before {
  content: "\e921";
}
.icon-cctv:before {
  content: "\e922";
}
.icon-check:before {
  content: "\e923";
}
.icon-checkbox:before {
  content: "\e924";
}
.icon-circle:before {
  content: "\e925";
}
.icon-clean:before {
  content: "\e926";
}
.icon-clock:before {
  content: "\e927";
}
.icon-cocktail:before {
  content: "\e928";
}
.icon-computer:before {
  content: "\e929";
}
.icon-corner-down-left:before {
  content: "\e92a";
}
.icon-corner-down-right:before {
  content: "\e92b";
}
.icon-corner-left-down:before {
  content: "\e92c";
}
.icon-corner-left-up:before {
  content: "\e92d";
}
.icon-corner-right-down:before {
  content: "\e92e";
}
.icon-corner-right-up:before {
  content: "\e92f";
}
.icon-corner-up-left:before {
  content: "\e930";
}
.icon-corner-up-right:before {
  content: "\e931";
}
.icon-credit-card:before {
  content: "\e932";
}
.icon-cross:before {
  content: "\e933";
}
.icon-cup:before {
  content: "\e934";
}
.icon-dashboard:before {
  content: "\e935";
}
.icon-date:before {
  content: "\e936";
}
.icon-device-desktop:before {
  content: "\e937";
}
.icon-device-laptop:before {
  content: "\e938";
}
.icon-device-tablet:before {
  content: "\e939";
}
.icon-disco-ball:before {
  content: "\e93a";
}
.icon-dish:before {
  content: "\e93b";
}
.icon-dislike:before {
  content: "\e93c";
}
.icon-double-bed:before {
  content: "\e93d";
}
.icon-double-left:before {
  content: "\e93e";
}
.icon-double-right:before {
  content: "\e93f";
}
.icon-download:before {
  content: "\e940";
}
.icon-dribbble:before {
  content: "\e941";
}
.icon-dropbox:before {
  content: "\e942";
}
.icon-dumbell:before {
  content: "\e943";
}
.icon-edit:before {
  content: "\e944";
}
.icon-entertainment:before {
  content: "\e945";
}
.icon-expand:before {
  content: "\e946";
}
.icon-external-link:before {
  content: "\e947";
}
.icon-Facebook-black-bg:before {
  content: "\e948";
}
.icon-Facebook-white-bg:before {
  content: "\e949";
}
.icon-file:before {
  content: "\e94a";
}
.icon-filter:before {
  content: "\e94b";
}
.icon-filter-alt-horizontal:before {
  content: "\e94c";
}
.icon-filter-alt-vertical:before {
  content: "\e94d";
}
.icon-filter-off:before {
  content: "\e94e";
}
.icon-flag:before {
  content: "\e94f";
}
.icon-flame:before {
  content: "\e950";
}
.icon-folder-default:before {
  content: "\e951";
}
.icon-folder-double:before {
  content: "\e952";
}
.icon-folder-minus:before {
  content: "\e953";
}
.icon-folder-off:before {
  content: "\e954";
}
.icon-folder-plus:before {
  content: "\e955";
}
.icon-folder-x:before {
  content: "\e956";
}
.icon-foursquare:before {
  content: "\e957";
}
.icon-friends:before {
  content: "\e958";
}
.icon-gearbox:before {
  content: "\e959";
}
.icon-geo:before {
  content: "\e95a";
}
.icon-gift:before {
  content: "\e95b";
}
.icon-github:before {
  content: "\e95c";
}
.icon-glass:before {
  content: "\e95d";
}
.icon-google-play:before {
  content: "\e95e";
}
.icon-google:before {
  content: "\e95f";
}
.icon-google-drive:before {
  content: "\e960";
}
.icon-google-hangouts:before {
  content: "\e961";
}
.icon-grid:before {
  content: "\e962";
}
.icon-heart-default:before {
  content: "\e963";
}
.icon-heart-filled:before {
  content: "\e964";
}
.icon-help:before {
  content: "\e965";
}
.icon-home:before {
  content: "\e966";
}
.icon-horisontal:before {
  content: "\e967";
}
.icon-hotel-bell:before {
  content: "\e968";
}
.icon-house-chosen:before {
  content: "\e969";
}
.icon-image:before {
  content: "\e96a";
}
.icon-info-circle:before {
  content: "\e96b";
}
.icon-info-square:before {
  content: "\e96c";
}
.icon-instagram:before {
  content: "\e96d";
}
.icon-iron:before {
  content: "\e96e";
}
.icon-laundry:before {
  content: "\e96f";
}
.icon-layout:before {
  content: "\e970";
}
.icon-left:before {
  content: "\e971";
}
.icon-like:before {
  content: "\e972";
}
.icon-link:before {
  content: "\e973";
}
.icon-linkedin:before {
  content: "\e974";
}
.icon-list:before {
  content: "\e975";
}
.icon-lock:before {
  content: "\e976";
}
.icon-login:before {
  content: "\e977";
}
.icon-logout:before {
  content: "\e978";
}
.icon-long-down:before {
  content: "\e979";
}
.icon-long-left:before {
  content: "\e97a";
}
.icon-long-right:before {
  content: "\e97b";
}
.icon-long-top:before {
  content: "\e97c";
}
.icon-mail:before {
  content: "\e97d";
}
.icon-makeup:before {
  content: "\e97e";
}
.icon-man:before {
  content: "\e97f";
}
.icon-map:before {
  content: "\e980";
}
.icon-map-pins:before {
  content: "\e981";
}
.icon-medium:before {
  content: "\e982";
}
.icon-meds:before {
  content: "\e983";
}
.icon-messenger:before {
  content: "\e984";
}
.icon-microphone:before {
  content: "\e985";
}
.icon-minus:before {
  content: "\e986";
}
.icon-minus-circle:before {
  content: "\e987";
}
.icon-minus-square:before {
  content: "\e988";
}
.icon-museum:before {
  content: "\e989";
}
.icon-music:before {
  content: "\e98a";
}
.icon-navbar:before {
  content: "\e98b";
}
.icon-no-smoke:before {
  content: "\e98c";
}
.icon-octagon:before {
  content: "\e98d";
}
.icon-odnoklassniki:before {
  content: "\e98e";
}
.icon-off:before {
  content: "\e98f";
}
.icon-on:before {
  content: "\e990";
}
.icon-paperclip:before {
  content: "\e991";
}
.icon-parking:before {
  content: "\e992";
}
.icon-paypal:before {
  content: "\e993";
}
.icon-pencil:before {
  content: "\e994";
}
.icon-pet:before {
  content: "\e995";
}
.icon-petrol:before {
  content: "\e996";
}
.icon-phone-1:before {
  content: "\e997";
}
.icon-phone-2:before {
  content: "\e998";
}
.icon-pie-chart:before {
  content: "\e999";
}
.icon-pin:before {
  content: "\e99a";
}
.icon-pinned:before {
  content: "\e99b";
}
.icon-pinterest:before {
  content: "\e99c";
}
.icon-plane:before {
  content: "\e99d";
}
.icon-plant:before {
  content: "\e99e";
}
.icon-play-default:before {
  content: "\e99f";
}
.icon-play-filled:before {
  content: "\e9a0";
}
.icon-play-video:before {
  content: "\e9a1";
}
.icon-plus:before {
  content: "\e9a2";
}
.icon-plus-circle:before {
  content: "\e9a3";
}
.icon-plus-square:before {
  content: "\e9a4";
}
.icon-power:before {
  content: "\e9a5";
}
.icon-rating:before {
  content: "\e9a6";
}
.icon-rating-half:before {
  content: "\e9a7";
}
.icon-real-estate-buy:before {
  content: "\e9a8";
}
.icon-real-estate-house:before {
  content: "\e9a9";
}
.icon-refresh:before {
  content: "\e9aa";
}
.icon-rent:before {
  content: "\e9ab";
}
.icon-reply:before {
  content: "\e9ac";
}
.icon-right:before {
  content: "\e9ad";
}
.icon-rotate-left:before {
  content: "\e9ae";
}
.icon-rotate-right:before {
  content: "\e9af";
}
.icon-round:before {
  content: "\e9b0";
}
.icon-route:before {
  content: "\e9b1";
}
.icon-rss:before {
  content: "\e9b2";
}
.icon-search:before {
  content: "\e9b3";
}
.icon-security:before {
  content: "\e9b4";
}
.icon-send:before {
  content: "\e9b5";
}
.icon-settings:before {
  content: "\e9b6";
}
.icon-share:before {
  content: "\e9b7";
}
.icon-shop:before {
  content: "\e9b8";
}
.icon-shopping-bag:before {
  content: "\e9b9";
}
.icon-short-down:before {
  content: "\e9ba";
}
.icon-short-left:before {
  content: "\e9bb";
}
.icon-short-right:before {
  content: "\e9bc";
}
.icon-short-up:before {
  content: "\e9bd";
}
.icon-sidebar-left:before {
  content: "\e9be";
}
.icon-sidebar-right:before {
  content: "\e9bf";
}
.icon-single-bed:before {
  content: "\e9c0";
}
.icon-single-down:before {
  content: "\e9c1";
}
.icon-single-left:before {
  content: "\e9c2";
}
.icon-single-remove:before {
  content: "\e9c3";
}
.icon-single-right:before {
  content: "\e9c4";
}
.icon-single-up:before {
  content: "\e9c5";
}
.icon-skype:before {
  content: "\e9c6";
}
.icon-slack:before {
  content: "\e9c7";
}
.icon-snapchat:before {
  content: "\e9c8";
}
.icon-snowflake:before {
  content: "\e9c9";
}
.icon-soundcloud:before {
  content: "\e9ca";
}
.icon-spa:before {
  content: "\e9cb";
}
.icon-square:before {
  content: "\e9cc";
}
.icon-star-default:before {
  content: "\e9cd";
}
.icon-swimming-pool:before {
  content: "\e9ce";
}
.icon-switch-horizontal:before {
  content: "\e9cf";
}
.icon-switch-vertical:before {
  content: "\e9d0";
}
.icon-telegram-1:before {
  content: "\e9d1";
}
.icon-telegram-2:before {
  content: "\e9d2";
}
.icon-thermometer:before {
  content: "\e9d3";
}
.icon-ticket:before {
  content: "\e9d4";
}
.icon-trash:before {
  content: "\e9d5";
}
.icon-triange:before {
  content: "\e9d6";
}
.icon-truck:before {
  content: "\e9d7";
}
.icon-tumblr:before {
  content: "\e9d8";
}
.icon-tv:before {
  content: "\e9d9";
}
.icon-twitch:before {
  content: "\e9da";
}
.icon-twitter:before {
  content: "\e9db";
}
.icon-united-states-1 .path1:before {
  content: "\e9dc";
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path2:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-united-states-1 .path3:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-united-states-1 .path4:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-united-states-1 .path5:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-united-states-1 .path6:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-united-states-1 .path7:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-united-states-1 .path8:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-united-states-1 .path9:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(65, 71, 155);
}
.icon-united-states-1 .path10:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path11:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path12:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path13:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path14:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path15:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path16:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path17:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path18:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path19:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path20:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path21:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path22:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path23:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path24:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path25:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path26:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path27:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path28:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path29:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path30:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path31:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path32:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path33:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path34:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path35:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path36:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path37:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path38:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path39:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path40:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path41:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path42:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path43:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path44:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path45:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path46:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path47:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path48:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path49:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-united-states-1 .path50:before {
  content: "\ea0d";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-unlock:before {
  content: "\ea0e";
}
.icon-upload:before {
  content: "\ea0f";
}
.icon-upload-file:before {
  content: "\ea10";
}
.icon-user-check:before {
  content: "\ea11";
}
.icon-user-default:before {
  content: "\ea12";
}
.icon-user-double:before {
  content: "\ea13";
}
.icon-user-minus:before {
  content: "\ea14";
}
.icon-user-plus:before {
  content: "\ea15";
}
.icon-vertical:before {
  content: "\ea16";
}
.icon-viber:before {
  content: "\ea17";
}
.icon-video:before {
  content: "\ea18";
}
.icon-video-off:before {
  content: "\ea19";
}
.icon-vimeo:before {
  content: "\ea1a";
}
.icon-VK:before {
  content: "\ea1b";
}
.icon-wallet:before {
  content: "\ea1c";
}
.icon-wechat:before {
  content: "\ea1d";
}
.icon-whatsapp:before {
  content: "\ea1e";
}
.icon-wifi:before {
  content: "\ea1f";
}
.icon-woman:before {
  content: "\ea20";
}
.icon-world:before {
  content: "\ea21";
}
.icon-youtube:before {
  content: "\ea22";
}
.icon-zoom-in:before {
  content: "\ea23";
}
.icon-zoom-out:before {
  content: "\ea24";
}
